<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>minimal texteditor</string>

    <key>CFBundleExecutable</key>
    <string>my-editor</string>

    <key>CFBundleIdentifier</key>
    <string>com.yourname.my-editor</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Text Document</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.plain-text</string>
                <string>public.html</string>
                <string>net.daringfireball.markdown</string>
                <string>public.json</string>
                <string>public.xml</string>
                <string>public.source-code</string>
                <string>public.python-script</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
